@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@import "tailwindcss";

@theme {
    --color-primary: #2b9dee;
    --color-upvote: #2b9dee;
    --color-downvote: #ff4500;
    --color-background-light: #f6f7f8;
    --color-background-dark: #101a22;
    --color-card-dark: #1a2630;

    --font-display: "Plus Jakarta Sans", sans-serif;

    --background-image-monad-gradient: radial-gradient(circle at 50% 0%, rgba(43, 157, 238, 0.15) 0%, rgba(16, 26, 34, 1) 70%);
}

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #283239;
        border-radius: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #3f4d58;
    }

    .snap-y-mandatory {
        scroll-snap-type: y mandatory;
    }

    .snap-start {
        scroll-snap-align: start;
    }
}

.visualizer-bar {
    width: 4px;
    background-color: #2b9dee;
    border-radius: 9999px;
    animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {

    0%,
    100% {
        height: 10px;
        opacity: 0.5;
    }

    50% {
        height: 30px;
        opacity: 1;
    }
}

.visualizer-bar:nth-child(odd) {
    animation-duration: 0.8s;
}

.visualizer-bar:nth-child(2n) {
    animation-duration: 1.1s;
}

.visualizer-bar:nth-child(3n) {
    animation-duration: 1.3s;
}

.visualizer-bar:nth-child(4n) {
    animation-duration: 0.9s;
}

body {
    @apply bg-background-dark text-white font-display overflow-hidden selection:bg-primary/30;
}